@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: linear-gradient(to bottom right, #333339, #29292E);
  height: 100vh;
  font-family: Roboto, Helvetica, sans-serif;
}

#clip {
  clip-path: path(
    "M636 8C636 3.58172 632.418 0 628 0H8C3.58172 0 0 3.58171 0 7.99999V592C0 596.418 3.58172 600 8 600H468C472.418 600 476 596.418 476 592V564C476 559.582 479.582 556 484 556H628C632.418 556 636 552.418 636 548V8Z"
  );
}